In [1]:
import graphlab
import pandas as pd

In [2]:
sf_train=graphlab.SFrame('train.csv')
sf_test=graphlab.SFrame('test.csv')

This non-commercial license of GraphLab Create for academic use is assigned to anmoldua97@gmail.com and will expire on January 26, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1516995387.log

Finished parsing file /home/anmol/Torrents/BlackFriday/train.csv

Parsing completed. Parsed 100 lines in 2.14456 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,str,int,str,str,int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/anmol/Torrents/BlackFriday/train.csv

Parsing completed. Parsed 550068 lines in 1.15754 secs.

Finished parsing file /home/anmol/Torrents/BlackFriday/test.csv

Parsing completed. Parsed 100 lines in 0.722276 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,str,int,str,str,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/anmol/Torrents/BlackFriday/test.csv

Parsing completed. Parsed 233599 lines in 0.447507 secs.

In [3]:
sf_train.head(2)

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int
	Purchase	int

Rows: 2

Data:
+---------+------------+--------+------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender | Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+------+------------+---------------+----------------------------+
| 1000001 | P00069042  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00248942  |   F    | 0-17 |     10     |       A       |             2              |
+---------+------------+--------+------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       0        |         3          |        None        |        None        |
|       0        |         1          |         6          |         14         |
+----------------+--------------------+--------------------+--------------------+
+----------+
| Purchase |
+----------+
|   8370   |
|  15200   |
+----------+
[2 rows x 12 columns]

In [4]:
sf_test.head(1)

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int

Rows: 1

Data:
+---------+------------+--------+-------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender |  Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+-------+------------+---------------+----------------------------+
| 1000004 | P00128942  |   M    | 46-50 |     7      |       B       |             2              |
+---------+------------+--------+-------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       1        |         1          |         11         |        None        |
+----------------+--------------------+--------------------+--------------------+
[1 rows x 11 columns]

In [5]:
sf_train['Age'].unique()

dtype: str
Rows: 7
['55+', '51-55', '0-17', '36-45', '46-50', '26-35', '18-25']

In [6]:
sf_train['Gender'].unique()

dtype: str
Rows: 2
['M', 'F']

In [7]:
sf_train['Occupation'].unique()

dtype: int
Rows: 21
[13, 2, 8, 15, 14, 20, 19, 0, 5, 12, 16, 4, 3, 1, 10, 9, 7, 6, 11, 18, 17]

In [8]:
sf_train['City_Category'].unique()

dtype: str
Rows: 3
['A', 'B', 'C']

In [9]:
graphlab.canvas.set_target('ipynb')

In [10]:
sf_train['Age'].show()

In [11]:
sf_train['Occupation'].show()

In [12]:
df = pd.DataFrame()
df = sf_train.to_dataframe()
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [13]:
sf_train['Stay_In_Current_City_Years'].show()

In [14]:
## Making some changes in age col
def manipulateAge(age):
    if (age == '51-55'):
        return '45+'
    elif (age == '55+'):
        return '45+'
    elif (age == '46-50'):
        return '45+'
    else:
        return age

sf_train['Age'] = sf_train['Age'].apply(manipulateAge)
sf_test['Age'] = sf_test['Age'].apply(manipulateAge)

In [15]:
sf_train.head(5)

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int
	Purchase	int

Rows: 5

Data:
+---------+------------+--------+------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender | Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+------+------------+---------------+----------------------------+
| 1000001 | P00069042  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00248942  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00087842  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00085442  |   F    | 0-17 |     10     |       A       |             2              |
| 1000002 | P00285442  |   M    | 45+  |     16     |       C       |             4+             |
+---------+------------+--------+------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       0        |         3          |        None        |        None        |
|       0        |         1          |         6          |         14         |
|       0        |         12         |        None        |        None        |
|       0        |         12         |         14         |        None        |
|       0        |         8          |        None        |        None        |
+----------------+--------------------+--------------------+--------------------+
+----------+
| Purchase |
+----------+
|   8370   |
|  15200   |
|   1422   |
|   1057   |
|   7969   |
+----------+
[5 rows x 12 columns]

In [16]:
sf_train['Age'].show()

In [17]:
sf_impute = sf_train['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_2']
sf_impute1 = sf_test['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_2']

In [18]:
imputer = graphlab.feature_engineering.CategoricalImputer(feature='Product_Category_2')

In [19]:
transformed_sf = imputer.fit_transform(sf_impute)
transformed_sf1 = imputer.fit_transform(sf_impute1)

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 63227     |

| 1             | 312431    |

| 2             | 249522    |

| 3             | 105514    |

| 4             | 395823    |

| 5             | 321459    |

| 10            | 66332     |

| 50            | 232032    |

| 100           | 169576    |

| 200           | 498835    |

| 300           | 494886    |

| 400           | 443237    |

| 500           | 72262     |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 22755     |

| 1             | 189369    |

| 2             | 142371    |

| 3             | 57826     |

| 4             | 128006    |

| 5             | 163784    |

| 10            | 6340      |

| 50            | 59312     |

| 100           | 61610     |

| 250           | 141262    |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

In [20]:
transformed_sf

Columns:
	Age	str
	Gender	str
	Occupation	int
	City_Category	str
	Marital_Status	int
	Product_Category_2	int
	predicted_feature_Product_Category_2	int
	feature_probability_Product_Category_2	float

Rows: 550068

Data:
+-------+--------+------------+---------------+----------------+--------------------+
|  Age  | Gender | Occupation | City_Category | Marital_Status | Product_Category_2 |
+-------+--------+------------+---------------+----------------+--------------------+
|  0-17 |   F    |     10     |       A       |       0        |        None        |
|  0-17 |   F    |     10     |       A       |       0        |         6          |
|  0-17 |   F    |     10     |       A       |       0        |        None        |
|  0-17 |   F    |     10     |       A       |       0        |         14         |
|  45+  |   M    |     16     |       C       |       0        |        None        |
| 26-35 |   M    |     15     |       A       |       0        |         2          |
|  45+  |   M    |     7      |       B       |       1        |         8          |
|  45+  |   M    |     7      |       B       |       1        |         15         |
|  45+  |   M    |     7      |       B       |       1        |         16         |
| 26-35 |   M    |     20     |       A       |       1        |        None        |
+-------+--------+------------+---------------+----------------+--------------------+
+-------------------------------+-------------------------------+
| predicted_feature_Product_... | feature_probability_Produc... |
+-------------------------------+-------------------------------+
|               14              |         0.179203539823        |
|               6               |              1.0              |
|               14              |         0.179203539823        |
|               14              |              1.0              |
|               8               |         0.198888888889        |
|               2               |              1.0              |
|               8               |              1.0              |
|               15              |              1.0              |
|               16              |              1.0              |
|               8               |         0.196830692244        |
+-------------------------------+-------------------------------+
[550068 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [21]:
sf_train['Product_Category_2']=transformed_sf['predicted_feature_Product_Category_2']
sf_test['Product_Category_2']=transformed_sf1['predicted_feature_Product_Category_2']

In [22]:
sf_train.head()

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int
	Purchase	int

Rows: 10

Data:
+---------+------------+--------+-------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender |  Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+-------+------------+---------------+----------------------------+
| 1000001 | P00069042  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00248942  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00087842  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00085442  |   F    |  0-17 |     10     |       A       |             2              |
| 1000002 | P00285442  |   M    |  45+  |     16     |       C       |             4+             |
| 1000003 | P00193542  |   M    | 26-35 |     15     |       A       |             3              |
| 1000004 | P00184942  |   M    |  45+  |     7      |       B       |             2              |
| 1000004 | P00346142  |   M    |  45+  |     7      |       B       |             2              |
| 1000004 |  P0097242  |   M    |  45+  |     7      |       B       |             2              |
| 1000005 | P00274942  |   M    | 26-35 |     20     |       A       |             1              |
+---------+------------+--------+-------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       0        |         3          |         14         |        None        |
|       0        |         1          |         6          |         14         |
|       0        |         12         |         14         |        None        |
|       0        |         12         |         14         |        None        |
|       0        |         8          |         8          |        None        |
|       0        |         1          |         2          |        None        |
|       1        |         1          |         8          |         17         |
|       1        |         1          |         15         |        None        |
|       1        |         1          |         16         |        None        |
|       1        |         8          |         8          |        None        |
+----------------+--------------------+--------------------+--------------------+
+----------+
| Purchase |
+----------+
|   8370   |
|  15200   |
|   1422   |
|   1057   |
|   7969   |
|  15227   |
|  19215   |
|  15854   |
|  15686   |
|   7871   |
+----------+
[10 rows x 12 columns]

In [23]:
sf_impute = sf_train['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_3']
sf_impute1 = sf_test['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_3']

In [24]:
imputer = graphlab.feature_engineering.CategoricalImputer(feature='Product_Category_3')

In [25]:
transformed_sf = imputer.fit_transform(sf_impute)
transformed_sf1 = imputer.fit_transform(sf_impute1)

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 53583     |

| 1             | 445305    |

| 2             | 334039    |

| 3             | 135134    |

| 4             | 300568    |

| 5             | 384709    |

| 10            | 15068     |

| 50            | 139442    |

| 100           | 145940    |

| 200           | 437303    |

| 300           | 108343    |

| 400           | 35003     |

| 500           | 25399     |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 22755     |

| 1             | 189369    |

| 2             | 142371    |

| 3             | 57826     |

| 4             | 128006    |

| 5             | 163784    |

| 10            | 6340      |

| 50            | 59312     |

| 100           | 61610     |

| 250           | 141262    |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

In [26]:
sf_train['Product_Category_3']=transformed_sf['predicted_feature_Product_Category_3']
sf_test['Product_Category_3']=transformed_sf1['predicted_feature_Product_Category_3']

In [27]:
sf_train.head(3)

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int
	Purchase	int

Rows: 3

Data:
+---------+------------+--------+------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender | Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+------+------------+---------------+----------------------------+
| 1000001 | P00069042  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00248942  |   F    | 0-17 |     10     |       A       |             2              |
| 1000001 | P00087842  |   F    | 0-17 |     10     |       A       |             2              |
+---------+------------+--------+------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       0        |         3          |         14         |         5          |
|       0        |         1          |         6          |         14         |
|       0        |         12         |         14         |         5          |
+----------------+--------------------+--------------------+--------------------+
+----------+
| Purchase |
+----------+
|   8370   |
|  15200   |
|   1422   |
+----------+
[3 rows x 12 columns]

In [28]:
sf_impute = sf_train['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_1']
sf_impute1 = sf_test['Age','Gender','Occupation','City_Category','Marital_Status','Product_Category_1']
imputer = graphlab.feature_engineering.CategoricalImputer(feature='Product_Category_1')
transformed_sf = imputer.fit_transform(sf_impute)
transformed_sf1 = imputer.fit_transform(sf_impute1)
sf_train['Product_Category_1']=transformed_sf['predicted_feature_Product_Category_1']
sf_test['Product_Category_1']=transformed_sf1['predicted_feature_Product_Category_1']

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 53583     |

| 1             | 445305    |

| 2             | 334039    |

| 3             | 135134    |

| 4             | 300568    |

| 5             | 384709    |

| 10            | 15068     |

| 50            | 139442    |

| 100           | 145940    |

| 250           | 333482    |

| 500           | 25399     |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 22755     |

| 1             | 189369    |

| 2             | 142371    |

| 3             | 57826     |

| 4             | 128006    |

| 5             | 163784    |

| 10            | 6340      |

| 50            | 59312     |

| 100           | 61610     |

+---------------+-----------+

Starting kmeans model training.

+-----------+

| Iteration |

+-----------+

| 0         |

| 1         |

| 2         |

| 3         |

| 4         |

| 5         |

| 6         |

| 7         |

| 8         |

| 9         |

+-----------+

Initializing user-provided cluster centers.

In [29]:
sf_train.head()

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int
	Purchase	int

Rows: 10

Data:
+---------+------------+--------+-------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender |  Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+-------+------------+---------------+----------------------------+
| 1000001 | P00069042  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00248942  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00087842  |   F    |  0-17 |     10     |       A       |             2              |
| 1000001 | P00085442  |   F    |  0-17 |     10     |       A       |             2              |
| 1000002 | P00285442  |   M    |  45+  |     16     |       C       |             4+             |
| 1000003 | P00193542  |   M    | 26-35 |     15     |       A       |             3              |
| 1000004 | P00184942  |   M    |  45+  |     7      |       B       |             2              |
| 1000004 | P00346142  |   M    |  45+  |     7      |       B       |             2              |
| 1000004 |  P0097242  |   M    |  45+  |     7      |       B       |             2              |
| 1000005 | P00274942  |   M    | 26-35 |     20     |       A       |             1              |
+---------+------------+--------+-------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       0        |         3          |         14         |         5          |
|       0        |         1          |         6          |         14         |
|       0        |         12         |         14         |         5          |
|       0        |         12         |         14         |         5          |
|       0        |         8          |         8          |         17         |
|       0        |         1          |         2          |         16         |
|       1        |         1          |         8          |         17         |
|       1        |         1          |         15         |         15         |
|       1        |         1          |         16         |         15         |
|       1        |         8          |         8          |         16         |
+----------------+--------------------+--------------------+--------------------+
+----------+
| Purchase |
+----------+
|   8370   |
|  15200   |
|   1422   |
|   1057   |
|   7969   |
|  15227   |
|  19215   |
|  15854   |
|  15686   |
|   7871   |
+----------+
[10 rows x 12 columns]

In [30]:
train_data, validate_data = sf_train.random_split(0.8)

In [31]:
train_data.shape

(439902, 12)

In [32]:
validate_data.shape

(110166, 12)

In [33]:
model = graphlab.boosted_trees_regression.create(train_data, target='Purchase', features = ['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3'],max_iterations=200,max_depth=10,min_child_weight=0.05,step_size=0.1)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Boosted trees regression:

--------------------------------------------------------

Number of examples          : 417824

Number of features          : 9

Number of unpacked features : 9

+-----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 0.495987     | 22006.146484       | 22005.146484         | 9572.985352   | 9494.814453     |

| 2         | 0.844238     | 20531.173828       | 20415.173828         | 8711.533203   | 8637.749023     |

| 3         | 1.391486     | 19501.404297       | 19037.869141         | 7945.389648   | 7875.478027     |

| 4         | 1.873372     | 18585.593750       | 17976.632812         | 7265.500977   | 7199.842285     |

| 5         | 2.323044     | 17792.285156       | 17033.375000         | 6663.828125   | 6601.796387     |

| 6         | 2.849232     | 16744.738281       | 16027.497070         | 6132.555664   | 6074.249512     |

| 10        | 4.589313     | 14457.384766       | 13200.811523         | 4589.470703   | 4547.281738     |

| 11        | 4.954406     | 14128.599609       | 12800.288086         | 4321.919922   | 4283.564453     |

| 15        | 6.481726     | 13025.601562       | 11529.062500         | 3584.029541   | 3562.820312     |

| 20        | 8.566323     | 12664.289062       | 12520.134766         | 3147.541504   | 3144.157227     |

| 25        | 10.617939    | 13651.800781       | 13666.117188         | 2972.187012   | 2982.052246     |

| 30        | 12.664384    | 14196.357422       | 14356.908203         | 2899.966309   | 2921.703857     |

| 35        | 14.539292    | 14562.509766       | 14849.179688         | 2866.841553   | 2897.778076     |

| 40        | 16.358329    | 14756.431641       | 15257.687500         | 2847.353027   | 2885.696289     |

| 45        | 18.321307    | 14850.826172       | 15293.408203         | 2836.270996   | 2880.058105     |

| 50        | 20.340670    | 14948.416016       | 15395.228516         | 2825.679932   | 2876.453613     |

| 51        | 20.733161    | 14890.408203       | 15454.679688         | 2823.843750   | 2875.400146     |

| 55        | 22.269693    | 14904.853516       | 15378.556641         | 2815.353516   | 2871.243896     |

| 60        | 24.449384    | 14934.662109       | 15448.136719         | 2804.167725   | 2865.009521     |

| 65        | 26.565886    | 14898.125000       | 15463.259766         | 2795.358154   | 2861.323486     |

| 70        | 28.556382    | 14852.330078       | 15264.765625         | 2781.756348   | 2853.332520     |

| 75        | 30.450180    | 14846.677734       | 15129.369141         | 2770.411621   | 2847.950684     |

| 80        | 32.541339    | 14845.994141       | 15084.656250         | 2763.584961   | 2846.206543     |

| 85        | 34.257223    | 14875.552734       | 15136.021484         | 2758.362793   | 2844.728760     |

| 90        | 36.035488    | 14865.283203       | 15189.074219         | 2751.641602   | 2842.632812     |

| 95        | 37.759683    | 14922.265625       | 15581.625000         | 2747.245605   | 2843.243896     |

| 100       | 39.528798    | 14942.271484       | 15813.056641         | 2740.776611   | 2841.367188     |

| 101       | 39.926010    | 14924.841797       | 15828.443359         | 2739.559570   | 2840.895508     |

| 105       | 41.433421    | 14936.138672       | 16005.578125         | 2734.915527   | 2840.776611     |

| 110       | 43.251442    | 14943.199219       | 16007.943359         | 2730.763428   | 2840.589355     |

| 115       | 45.030194    | 14969.917969       | 15993.880859         | 2726.237061   | 2839.425293     |

| 120       | 46.792178    | 15004.183594       | 16191.662109         | 2721.416260   | 2839.791260     |

| 125       | 48.543282    | 15015.568359       | 16192.074219         | 2717.401855   | 2839.601562     |

| 130       | 50.310215    | 15027.369141       | 16362.718750         | 2714.430908   | 2839.469727     |

| 135       | 52.075642    | 15026.628906       | 16363.425781         | 2707.643555   | 2838.770996     |

| 140       | 53.866468    | 15098.361328       | 16517.453125         | 2701.781738   | 2838.400146     |

| 145       | 55.589922    | 15116.425781       | 16547.804688         | 2697.721680   | 2837.912842     |

| 150       | 57.356444    | 15134.806641       | 16531.748047         | 2694.038818   | 2837.784424     |

| 155       | 59.098793    | 15123.261719       | 16487.335938         | 2690.223145   | 2838.050293     |

| 160       | 60.896818    | 15159.740234       | 16468.953125         | 2687.677002   | 2838.293213     |

| 165       | 62.603369    | 15161.675781       | 16476.378906         | 2685.332520   | 2838.431885     |

| 170       | 64.495229    | 15211.658203       | 16495.937500         | 2680.197754   | 2838.338135     |

| 175       | 66.410144    | 15210.158203       | 16524.689453         | 2676.763672   | 2838.001221     |

| 180       | 68.277265    | 15198.320312       | 16504.162109         | 2672.122559   | 2838.798096     |

| 185       | 70.044871    | 15189.962891       | 16486.941406         | 2667.605225   | 2838.914551     |

| 190       | 71.820894    | 15288.558594       | 16683.556641         | 2664.087402   | 2839.416992     |

| 195       | 73.652517    | 15334.900391       | 16801.904297         | 2661.028564   | 2839.970459     |

| 200       | 75.428164    | 15333.609375       | 16813.712891         | 2658.814941   | 2840.152588     |

+-----------+--------------+--------------------+----------------------+---------------+-----------------+

In [34]:
predictions = model.predict(validate_data)

In [35]:
# Evaluate the model and save the results into a dictionary
results = model.evaluate(validate_data)
results

{'max_error': 15691.916015625, 'rmse': 2859.2783758240707}

In [36]:
#Do prediction on test data set
final_predictions = model.predict(sf_test)

In [37]:
sf_test.head()

Columns:
	User_ID	int
	Product_ID	str
	Gender	str
	Age	str
	Occupation	int
	City_Category	str
	Stay_In_Current_City_Years	str
	Marital_Status	int
	Product_Category_1	int
	Product_Category_2	int
	Product_Category_3	int

Rows: 10

Data:
+---------+------------+--------+-------+------------+---------------+----------------------------+
| User_ID | Product_ID | Gender |  Age  | Occupation | City_Category | Stay_In_Current_City_Years |
+---------+------------+--------+-------+------------+---------------+----------------------------+
| 1000004 | P00128942  |   M    |  45+  |     7      |       B       |             2              |
| 1000009 | P00113442  |   M    | 26-35 |     17     |       C       |             0              |
| 1000010 | P00288442  |   F    | 36-45 |     1      |       B       |             4+             |
| 1000010 | P00145342  |   F    | 36-45 |     1      |       B       |             4+             |
| 1000011 | P00053842  |   F    | 26-35 |     1      |       C       |             1              |
| 1000013 | P00350442  |   M    |  45+  |     1      |       C       |             3              |
| 1000013 | P00155442  |   M    |  45+  |     1      |       C       |             3              |
| 1000013 |  P0094542  |   M    |  45+  |     1      |       C       |             3              |
| 1000015 | P00161842  |   M    | 26-35 |     7      |       A       |             1              |
| 1000022 | P00067942  |   M    | 18-25 |     15     |       A       |             4+             |
+---------+------------+--------+-------+------------+---------------+----------------------------+
+----------------+--------------------+--------------------+--------------------+
| Marital_Status | Product_Category_1 | Product_Category_2 | Product_Category_3 |
+----------------+--------------------+--------------------+--------------------+
|       1        |         1          |         11         |         16         |
|       0        |         3          |         5          |         15         |
|       1        |         5          |         14         |         14         |
|       1        |         4          |         9          |         14         |
|       0        |         4          |         5          |         12         |
|       1        |         2          |         3          |         15         |
|       1        |         1          |         11         |         15         |
|       1        |         2          |         4          |         9          |
|       0        |         10         |         13         |         16         |
|       0        |         5          |         14         |         15         |
+----------------+--------------------+--------------------+--------------------+
[10 rows x 11 columns]

In [38]:
import pandas as pd
df = pd.DataFrame()
df['User_ID'] = sf_test['User_ID']
df['Product_ID'] = sf_test['Product_ID']
df['Purchase'] = final_predictions

In [39]:
df.to_csv('Sub.csv')